syntax: glob

#Hidden files
*.DS_Store
*[Tt]humbs.db
*.Trashes

#project specific
bower_components/
node_modules/
.sass-cache/
.tscache/
yarn.lock
package-lock.json
.yml

index.js
src/*.js

#Config Files
settings.json
db.config

#Conflict files
*.orig
*.resolve

#Compiled files
map/
dist/
*.map

#Log files
*.log
*.debug
logs/*

# Visual Studio, VS-Code Settings
.vscode/
.vs