syntax: glob

#Hidden files
*.DS_Store
*[Tt]humbs.db
*.Trashes

#project specific
bower_components/
node_modules/
.sass-cache/
.tscache/
dist/
src/

yarn.lock
package-lock.json
.map
.circleci/
.travis.yml
!*.d.ts
main.ts
src/*.tsx
